@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
  font-family: 'proxima-med';
  src: url("../app/fonts/gilroy/Gilroy-ExtraBold.ttf");
}
@font-face{
  font-family: 'proximacond';
  src: url("../app/fonts/Proxima Nova Full Download/Proxima Nova Extra Condensed Extrabold.otf");
}
@font-face{
  font-family: 'helvica-med';
  src: url("../app/fonts/helvetica-neue-5/HelveticaNeueMedium.otf");
  line-height: 19.2px;
}
@font-face{
  font-family: 'helvica-reg';
  src: url("../app/fonts/helvetica-neue-5/HelveticaNeueLight.otf");
}
@font-face{
  font-family: 'helvica-semi';
  src: url("../app/fonts/helvetica-neue-5/HelveticaNeueHeavy.otf");
}
@font-face{
  font-family: 'gilroy-reg';
  src:url("../app/fonts/gilroy/Gilroy-Medium.ttf")
}
@font-face{
  font-family: 'gilroy-med';
  src:url("../app/fonts/gilroy/Gilroy-Regular.ttf")
}
@font-face{
  font-family: 'gilroy-semi';
  src:url("../app/fonts/gilroy/Gilroy-SemiBold.ttf")
}
@font-face{
  font-family: 'gilroy-xbold';
  src:url("../app/fonts/gilroy/Gilroy-ExtraBold.ttf")
}
@font-face{
  font-family: 'gilroy-bold';
  src:url("../app/fonts/gilroy/Gilroy-Bold.ttf")
}
/* @font-face{
  font-family: 'gilroy-bold';
  src:url("../app/fonts/gilroy/")
} */
.gradient{
  height: 81px;
  background-image: linear-gradient(to bottom, rgba(27,30,36,0), rgba(27,30,36)84.21%)
}
.slick-slide>div{
  margin: 0 32px;
}
.slick-slide>div:nth-child(1){
  margin-left: 0;
}
.slick-list>div{
  margin-right: -32px;
}
.list-hover:hover{
  transition: all;
  transition-timing-function: ease-in;
  transition-duration: 300ms;
  transform: scale(.9);
}
.bg-gradient{
  background: linear-gradient(rgb(255,255,255) -6.71%,rgb(235,235,242) 56.19%,rgb(223,223,231) 106.56%);
}
.arrow-up{
  transform:rotateX(180deg);
}
.translate-up{
  transition: all;
  transition-duration: .25s;
  transition-timing-function: ease-out;
  transform: translate3d(0,100%,0)
}
.translate-down{
  transition: all;
  transition-duration: .25s;
  transition-timing-function: ease-out;
  transform: translateZ(0)
}
.translate-menu{
  transition: all;
  transition-duration: .25s;
  transition-timing-function: ease-out;
  transform: translate3d(0,48px,0)
}

@media (max-width: 1550px){
  .evenly{
    justify-content: space-evenly;
  }
}